pkgbase = opseclint-bin
	pkgdesc = Detection-coverage analyzer: map shell/command actions to ATT&CK techniques, host telemetry, and the detections that would fire
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/ezekiellabs/opseclint
	arch = x86_64
	license = MIT
	provides = opseclint
	conflicts = opseclint
	source = opseclint-1.4.0.tar.gz::https://github.com/ezekiellabs/opseclint/releases/download/v1.4.0/opseclint-v1.4.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums = 3e0ab1cb476d331c01c41a189f5daf3de7b87e5fd3e25bf9b5b015be86f44bae

pkgname = opseclint-bin
