pkgbase = opseclint-bin
	pkgdesc = Detection-coverage analyzer: map shell/command actions to ATT&CK techniques, host telemetry, and the detections that would fire
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/ezekiellabs/opseclint
	arch = x86_64
	license = MIT
	provides = opseclint
	conflicts = opseclint
	source = opseclint-1.2.0.tar.gz::https://github.com/ezekiellabs/opseclint/releases/download/v1.2.0/opseclint-v1.2.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums = a2898439b8df630d49249ffa4748f821abe351f06d286d9ed8a216c582ba8179

pkgname = opseclint-bin
